*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424242;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-family: 'Hurricane', cursive;
}

.cabecalho-imagem{
    width: 26%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 26px;
    .mea-culpa-regular {
        font-family: "Hurricane", cursive;
        font-weight: 400;
        font-style: normal;
      }
    padding: 24px 0;
    font-size: 150px;
}

.escola-imagem{
    width: 30%;
}

.escola{
    background-image: linear-gradient(#424242,#645C5C);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    font-size: 26px;
    font-family: ' Jim Nightshade';
}

.escola-div-conteudo{
    width: 60%;
}
.escola-titulo{
    padding: 24px 0;
    font-size: 40px;
}

.textos-sobre-a-loja{
    font-family: 'Archivo Narrow', normal;
    padding: 24px 0;
    font-size: 30px;
}
.cabecalho-lista-item{
    font-family: 'Hurricane', normal;
}

.estudante-titulo{
    font-family: 'Candal', normal;
    padding: 20px 0;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.estudante-imagem{
    width: 150px;
}

.estudante-div{
   text-align: center;
}

.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.estudante{
    background-image: linear-gradient(#645C5C,#424242);
}

.rodape{
    background-color: #424242;
}

.rodape-imagem{
    padding: 6px;
}

.elementos-do-rodape{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}